In [1]:
%load_ext autoreload

%autoreload 2

In [2]:
import os
print(os.getcwd())

/Users/piotr/Documents/studia/SEM5/IUM/IUM_project/microservice

In [3]:
from RFM_model.features.build_features import FeatureBuilder
from RFM_model.models.train_model import Trainer
from RFM_model.models.predict_model import Predictor

In [5]:
FeatureBuilder.from_files('../data/raw').build_save("../data/processed")

In [6]:
Trainer(3,42, "../data/processed/processed.csv").train_save("../models")

In [7]:
pr = Predictor("my_model.pkl")

FileNotFoundError: [Errno 2] No such file or directory: 'my_model.pkl/my_model.pkl'

In [ ]:
def create_df(filepath):
        return pd.read_csv(filepath)

In [ ]:
import pandas as pd
X = create_df("../data/processed/processed.csv")

In [ ]:
f = pr.predict(X)

In [ ]:
f

     user_id  Recency  Frequency  MonetaryValue  Cluster
0        102        5         37       15025.49        2
1        103       12         29        4668.46        0
2        104       21         17       14768.28        2
3        105       16         48       33012.23        1
4        106       17         10       13978.74        2
..       ...      ...        ...            ...      ...
986     1096        2         13        8504.59        0
987     1097        9         22        7893.46        0
988     1098       12         22       11227.34        2
989     1100       12         35       21909.90        2
990     1101       18          1          58.97        0

[991 rows x 5 columns]

In [ ]:
pd.DataFrame(f.values.tolist(), columns=["user_id","Recency","Frequency","MonetaryValue","Cluster"])

     user_id  Recency  Frequency  MonetaryValue  Cluster
0      102.0      5.0       37.0       15025.49      2.0
1      103.0     12.0       29.0        4668.46      0.0
2      104.0     21.0       17.0       14768.28      2.0
3      105.0     16.0       48.0       33012.23      1.0
4      106.0     17.0       10.0       13978.74      2.0
..       ...      ...        ...            ...      ...
986   1096.0      2.0       13.0        8504.59      0.0
987   1097.0      9.0       22.0        7893.46      0.0
988   1098.0     12.0       22.0       11227.34      2.0
989   1100.0     12.0       35.0       21909.90      2.0
990   1101.0     18.0        1.0          58.97      0.0

[991 rows x 5 columns]

In [9]:
import pandas as pd
raw_path = "../data/raw"
SESSIONS_PATH = os.path.join(raw_path, "sessions.jsonl")
USERS_PATH = os.path.join(raw_path, "users.jsonl")
PRODUCTS_PATH = os.path.join(raw_path, "products.jsonl")
sess_df = pd.read_json(path_or_buf=SESSIONS_PATH, lines=True)
usr_df = pd.read_json(path_or_buf=USERS_PATH, lines=True)
prod_df = pd.read_json(path_or_buf=PRODUCTS_PATH, lines=True)

In [29]:
len(prod_df.loc[0].values)

4

In [66]:
x = sess_df.to_json()

In [37]:
new_measurement = {
    "sessions": [0, 0, 0, 0, 0, 0, 0],
    "products": [0, 0, 0, 0],
    "users": [0, 0, 0, 0],
}

In [43]:
FeatureBuilder.from_lists(new_measurement)

ValueError: Shape of passed values is (7, 1), indices imply (7, 7)

In [48]:
[new_measurement["sessions"]]

[[0, 0, 0, 0, 0, 0, 0]]

In [44]:
SESSION_COLUMNS = ['session_id', 'timestamp', 'user_id',
                       'product_id', 'event_type', 'offered_discount', 'purchase_id']

In [49]:
pd.DataFrame([new_measurement["sessions"]], columns=SESSION_COLUMNS)

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,0,0,0,0,0,0,0

In [70]:
x = sess_df.loc[0].to_json()

In [77]:
sess_df.loc[0:3].to_json()

'{"session_id":{"0":124,"1":124,"2":124,"3":124},"timestamp":{"0":1619621368000,"1":1619621436000,"2":1619621465000,"3":1619621560000},"user_id":{"0":102,"1":102,"2":102,"3":102},"product_id":{"0":1289,"1":1286,"2":1288,"3":1287},"event_type":{"0":"VIEW_PRODUCT","1":"VIEW_PRODUCT","2":"VIEW_PRODUCT","3":"VIEW_PRODUCT"},"offered_discount":{"0":5,"1":5,"2":5,"3":5},"purchase_id":{"0":null,"1":null,"2":null,"3":null}}'

In [78]:
pd.read_json(sess_df.loc[0:3].to_json())

,session_id,timestamp,user_id,product_id,event_type,offered_discount,purchase_id
0,124,2021-04-28 14:49:28,102,1289,VIEW_PRODUCT,5,NaN
1,124,2021-04-28 14:50:36,102,1286,VIEW_PRODUCT,5,NaN
2,124,2021-04-28 14:51:05,102,1288,VIEW_PRODUCT,5,NaN
3,124,2021-04-28 14:52:40,102,1287,VIEW_PRODUCT,5,NaN